/* Changes body text */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

/* Changes header, footer background colour */
header, footer {
    background-color: #D9AD77;
}

/* Changes header text colour */
.site-title {
    color: #f3f0eb;
}

/* Adds box shadow to image */
#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

/* Changes unordered list bullets to squares */
ul {
    list-style-type: square;
}

li:nth-child(odd) {
    background-color: #d7aea5;
}

a {
    text-decoration: none;
    background-color: #D99484;
}

a:link {
    border: 2px solid black;
    padding: 10px 20px;
    display: inline-block;
}

/* Hover links */
a:hover {
    background-color: #e2cac4;
}