/* font-family: 'Open Sans', sans-serif; */

/* default: mobile first styling */

body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: block;
    max-width: 1200px;
    margin: auto;
}

.navigation {
    background-color: #222;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #c78c06;
}

li a:hover {
    background-color: #c78c06;
    color: #222;
}

.logo {
    float: left;
    margin-right: 100%;
    margin-bottom: 10%;
}

input[type=text] {
    width: 80%;
    margin-bottom: 5%;
    font-size: 20px;
}

.fa-search {
    color: #c78c06;
    border: 1px solid #c78c06;
    padding: 1%;
}

.banner {
    background-image: url(/images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 0;
}

.header-info {
    background-color: rgba(2, 2, 2, 0.63);
    padding: 20px;
}

.header-info h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 3rem;
    color: white;
    margin-bottom: 10%;
}

.header-info p {
    color: white;
    font-size: 15px;
    line-height: 1.5rem;
}

.connect-with-us-button a {
    display: block;
    background-color: #c78c06;
    color: #222;
    text-decoration: none;
    padding: 5%;
    margin-right: 60%;
    margin-top: 5%;
}

.connect-with-us-button a:hover {
    background-color: #222;
    color: #c78c06;
}